<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-input no-margin type="text" placeholder="MESSAGE" [(ngModel)]="msg" clearInput></ion-input>
    <ion-input no-margin type="text" placeholder="PHONE NUMBER" [(ngModel)]="phoneNo" clearInput></ion-input>
    <ion-button (click)="phoneNo && sendSMS()">Send SMS</ion-button>
  </div>
</ion-content>
